<app-menu></app-menu>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <input type="text" class="form-control" (keyup)="filter($event)" [(ngModel)]="filterText" placeholder="Search by service type" text="">
        </li>
      </ul>
      
    </div>
  </div>
</nav>
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col"><div class="d-grid gap-2"><button class="btn btn-link" type="button"(click)="sort('serviceName')">Service executed</button></div></th>
            <th scope="col"><div class="d-grid gap-2"><button class="btn btn-link" type="button"(click)="sort('serviceType')">Service type</button></div></th>
            <th scope="col"><div class="d-grid gap-2"><button class="btn btn-link" type="button"(click)="sort('username')">Requesting User</button></div></th>
            <th scope="col"><div class="d-grid gap-2"><button class="btn btn-link" type="button"(click)="sort('date')">Execution date</button></div></th>
            <th scope="col"><div class="d-grid gap-2"><button class="btn btn-link" type="button" >Action</button></div></th>
          </tr>
        </thead>
        <tbody class="table-stripped">
          <tr *ngFor="let record of displayedRecords">
              <td><div class="text-center">{{record.serviceName | titlecase}}</div></td>
              <td><div class="text-center">{{record.serviceType | titlecase}}</div></td>
              <td><div class="text-center">{{record.username}}</div></td>
              <td><div class="text-center">{{record.date | date : 'medium'}}</div></td>
              <td>
                <div class="text-center">
                  <button class="btn btn-primary" type="button" (click)="details(record)">Details</button>
                  <button class="btn btn-warning" type="button" (click)="edit(record)">Edit</button>
                </div>
              </td>
          </tr>
        </tbody>
      </table>
</div>

<div class="d-flex justify-content-center">
  <mat-paginator [length]="pagingInfo.length"
                [pageSize]="pagingInfo.pageSize"
                [pageIndex]="pagingInfo.pageIndex"
                [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="pagingInfo.pageEvent = fetch($event)"
                aria-label="Select page">
  </mat-paginator>
</div>
