<app-menu></app-menu>

<div class="container">
    <div class="row m-3">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    Please enter the following information
                </div>
                <div class="card-body">
                    <form [formGroup]="form" novalidate>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-at"></i>
                                </span>
                            </div>
                            <input type="email" class="form-control" placeholder="email" formControlName="email"
                                [ngClass]="{'is-invalid': (email.invalid && email.dirty),'is-valid':(email.valid && email.dirty)}">
                            <div class="invalid-feedback" *ngIf="email.invalid && email.dirty">
                                Please enter a valid email address
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-key"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control" placeholder="Password"
                                formControlName="password"
                                [ngClass]="{'is-invalid': (password.invalid && password.dirty),'is-valid':(password.valid && password.dirty)}">
                            <div class="invalid-feedback" *ngIf="password.invalid && password.dirty">
                                Please enter a password
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-key"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control" placeholder="Verify password"
                                formControlName="passwordVerify"
                                [ngClass]="{'is-invalid': (passwordVerify.invalid && passwordVerify.dirty),'is-valid':(passwordVerify.valid && passwordVerify.dirty)}">
                                <div class="invalid-feedback" *ngIf="passwordVerify.invalid && passwordVerify.dirty">
                                    Please verify your password
                                </div>
                        </div>
                    </form>
                </div>
                <div class="card-body text-center">
                    <button class="btn" (click)="signUp()"
                        [ngClass]="{'btn-success':form.valid && form.dirty, 'btn-outline-success':!form.valid && !form.dirty}"
                        [disabled]="!form.valid && !form.dirty">Sign Up</button>
                </div>
                <div class="alert alert-success" *ngIf="successMessage!=null">
                    {{successMessage}}
                </div>
                <div class="alert alert-danger" *ngIf="errorMessage!=null">
                    {{errorMessage}}
                </div>

            </div>
        </div>
    </div>
</div>