<app-menu></app-menu>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <input type="text" class="form-control" (keyup)="filter($event)" [(ngModel)]="filterText" placeholder="Type service name" text="">
        </li>
      </ul>
      <form class="d-flex">
        <button *ngIf="isUserAdmin()" class="btn btn-primary" type="button" (click)="new()">Add service</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col"><div class="d-grid gap-2 position-relative"><button class="btn btn-link" type="button"(click)="sort('name')">Name</button></div></th>
            <th scope="col"><div class="d-grid gap-2"><button class="btn btn-link" type="button"(click)="sort('cost')">Cost</button></div></th>
            <th scope="col"><div class="d-grid gap-2"><button class="btn btn-link" type="button"(click)="sort('status')">Status</button></div></th>
            <th scope="col"><div class="d-grid gap-2"><button class="btn btn-link" type="button" >Action</button></div></th>
          </tr>
        </thead>
        <tbody class="table-stripped">
          <tr *ngFor="let service of displayedServices">
              <td><div class="text-center">{{service.name}}</div></td>
              <td><div class="text-center">{{service.cost}}</div></td>
              <td><div class="text-center">{{service.status | titlecase}}</div></td>
              <td>
                <div class="text-center">
                  <button class="btn btn-primary" type="button" (click)="details(service)">Details</button>
                  <button class="btn btn-success" type="button" (click)="execute(service)">Execute</button>
                  <button *ngIf="isUserAdmin()" class="btn btn-warning" type="button" (click)="edit(service)">Edit</button>
                  <button *ngIf="isUserAdmin()" class="btn btn-danger" type="button" (click)="delete(service)">Delete</button>                  
                </div>
              </td>
          </tr>
        </tbody>
      </table>
</div>

<div class="d-flex justify-content-center">
  <mat-paginator [length]="pagingInfo.length"
                [pageSize]="pagingInfo.pageSize"
                [pageIndex]="pagingInfo.pageIndex"
                [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="pagingInfo.pageEvent = fetch($event)"
                aria-label="Select page">
  </mat-paginator>
</div>
